doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title colors-types
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body 
    //- .ui-color-types 
    //-   img.ui-color-types__logo(src="/../../images/ui-logo.svg", alt="ui-kit-logo")
    //-   .ui-color-types-inner 
    //-     .ui-color-types__box-1 
    //-       .color-type 
    //-         .color-type__square.color-type__square-1 
    //-         .color-type__text 
    //-           .color-type__text_title Dark Shade 100%
    //-           .color-type__text_info #1F2041
    //-       .color-type 
    //-         .color-type__square.color-type__square-2
    //-         .color-type__text 
    //-           .color-type__text_title Dark Shade 75%
    //-           .color-type__text_info #1F2041
    //-       .color-type 
    //-         .color-type__square.color-type__square-3
    //-         .color-type__text 
    //-           .color-type__text_title Dark Shade 50%
    //-           .color-type__text_info #1F2041
    //-       .color-type 
    //-         .color-type__square.color-type__square-4
    //-         .color-type__text 
    //-           .color-type__text_title Dark Shade 25%
    //-           .color-type__text_info #1F2041
    //-       .color-type 
    //-         .color-type__square.color-type__square-5
    //-         .color-type__text 
    //-           .color-type__text_title Dark Shade 5%
    //-           .color-type__text_info #1F2041
    //-       .color-type 
    //-         .color-type__square.color-type__square-6
    //-         .color-type__text 
    //-           .color-type__text_title Purple
    //-           .color-type__text_info #BC9CFF
    //-       .color-type 
    //-         .color-type__square.color-type__square-7
    //-         .color-type__text 
    //-           .color-type__text_title Green
    //-           .color-type__text_info #6FCF97
    //-     .ui-color-types__box-2 
    //-       .title-styles 
    //-         .title-number H1
    //-         .title-text.h1 This one is the sub-section or widget title
    //-       .title-styles 
    //-         .title-number.title-number-2 H2 
    //-         .title-text.h2 Next one is the item title inside widgets
    //-       .title-styles 
    //-         .title-number.title-number-3 H3
    //-         .title-text.h3 This is a label or CTA text
    //-       .title-styles 
    //-         .title-number.title-number-4 Body
    //-         .title-text This is the body text which is used for most of the design, like paragraphs, lists, etc.