.ct {
  &__color{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &:last-child{
      margin-bottom: 0;
    }
    &__square{
      width: 70px;
      height: 70px;
      background-color: #000;
      border-radius: 6px;
      margin-right: 40px;
      &_1{
        background-color: $darkshade100;
      }
      &_2{
        background-color: $darkshade75;
      }
      &_3{
        background-color: $darkshade50;
      }
      &_4{
        background-color: $darkshade25;
      }
      &_5{
        background-color: $darkshade5;
      }
      &_6{
        background-color: $purple;
      }
      &_7{
        background-color: $green;
      }
    }
    
  }
}