include ./../blocks/menu-list.pug

mixin header-2  
  header.header 
    .container 
      .header-inner 
        .header__box
          a.logo-link(href="#") 
            img.logo(src=require("@images/logo.png")  alt="logo")
        .header__box.header__box_right
          +menu
          a(href="#").user 
            span.user__name Юлий Цезарь