.main{
  padding: 19px 0;
  display: flex;
  justify-content: center;
  background-image: url('./../images/registration-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


