.main{
  padding: 19px 0;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./../images/registration-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-sign-in .text-field-default{
  margin-bottom: 10px;
}

.button-default-big{
   font-family: 'Montserrat';
}


