.card.card-landing {
  padding-top: 39px;
  padding-right: 29px;
  padding-bottom: 29px;
  padding-left: 29px;
  @media (max-width: 575px) {
    padding: 20px;
  }
  @media (max-width: 430px) {
    width: 100%;
  }
}
