.card-landing {
  &__dropdown {
    margin-bottom: 30.44px;
  }
  &__date-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20.56px;
  } 
}

.dropdown-page {
  position: relative;
  & > .fe__dropdown__content{
    position: absolute;
    left: 0;
    top: -15px;
    opacity: 0;
    background-color: #fff;
    z-index: -10;
    &_active {
      opacity: 1;
      z-index: 10;
      top: 65px;
    }
  }
}