include ../buttons/button-gradient-arrow.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug

mixin card-landing 
  form(action="#")
    .card 
      .card-inner  
        h1.card__title Найдём номера под ваши пожелания
        .date-dropdown-wrapper
          +date-dropdown('прибытие')
          +date-dropdown('выезд')
        +dropdown('гости', 'Сколько гостей', 'card-landing-dropdown')
        +btn-gradient-arrow('card-btn-landing', 'подобрать номер')

         
          