include ../buttons/button-white.pug
include ../buttons/button-gradient-arrow.pug
include ../mixins.pug
include ../text-field/text-field-default.pug
include ../text-field/text-field-masked.pug

mixin card-sign-up 
  form(action="#") 
    .card
      .card-inner 
        h1.card__title Регистрация аккаунта
        .inputs-wrapper 
          +text-field-default('', '', 'Имя')
          +text-field-default('', '', 'Фамилия')
        +radiobuttons('')
        +text-field-masked('дата рождения')
        +text-field-default('данные для входа в сервис', '', 'Email')
        +text-field-default('', '', 'Пароль')
        +toggle('Получать спецпредложения')
        +btn-gradient-arrow('', 'перейти к оплате')
        .card__note 
          span.card__note_info Уже есть аккаунт на Toxin?
          +button-white('card-btn-white', 'войти')