mixin card-calendar
    .card.card-calendar
      .card-inner.card-calendar-inner
        .card-calendar__header 
          button.card-calendar__btn
            span.material-icons.card-calendar__arrow-prev arrow_forward 
          h3.card-calendar__title Август 2019
          button.card-calendar__btn
            span.material-icons.card-calendar__arrow-next arrow_forward 
        main.card-calendar__main 
          .card-calendar__main__days 
            div.calendar__item пн
            div.calendar__item вт
            div.calendar__item ср
            div.calendar__item чт
            div.calendar__item пт
            div.calendar__item сб
            div.calendar__item вс
          .card-calendar__main__numbers
            div.calendar__item.card-calendar__main__number 29
            div.calendar__item.card-calendar__main__number 30
            div.calendar__item.card-calendar__main__number 31
            div.calendar__item.card-calendar__main__number 1
            div.calendar__item.card-calendar__main__number 2
            div.calendar__item.card-calendar__main__number 3
            div.calendar__item.card-calendar__main__number 4
            div.calendar__item.card-calendar__main__number 5
            div.calendar__item.card-calendar__main__number 6
            div.calendar__item.card-calendar__main__number 7
            div.calendar__item.card-calendar__main__number.card-calendar__main__number_current 8
            div.calendar__item.card-calendar__main__number 9
            div.calendar__item.card-calendar__main__number 10
            div.calendar__item.card-calendar__main__number 11
            div.calendar__item.card-calendar__main__number 12
            div.calendar__item.card-calendar__main__number 13
            div.calendar__item.card-calendar__main__number 14
            div.calendar__item.card-calendar__main__number 15
            div.calendar__item.card-calendar__main__number 16
            div.calendar__item.card-calendar__main__number 17
            div.calendar__item.card-calendar__main__number 18
            div.calendar__item.card-calendar__main__number.card-calendar__main__number_range 19
            div.calendar__item.card-calendar__main__number 20
            div.calendar__item.card-calendar__main__number 21
            div.calendar__item.card-calendar__main__number 22
            div.calendar__item.card-calendar__main__number.card-calendar__main__number_range.card-calendar__main__number_range-last 23
            div.calendar__item.card-calendar__main__number 24
            div.calendar__item.card-calendar__main__number 25
            div.calendar__item.card-calendar__main__number 26
            div.calendar__item.card-calendar__main__number 27
            div.calendar__item.card-calendar__main__number 28
            div.calendar__item.card-calendar__main__number 29
            div.calendar__item.card-calendar__main__number 30
            div.calendar__item.card-calendar__main__number 31
            div.calendar__item.card-calendar__main__number 1
        .card-calendar__footer 
          button.card-calendar__btn очистить
          button.card-calendar__btn применить