.card{
  width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px;
  margin-bottom: 40px;
  &-inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
    margin-bottom: 20px;
    &-2 {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $darkshade100;
      margin-bottom: 5px;
    }
  }
  &__input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $darkshade25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 15px;
    margin-bottom: 10px;
    &::placeholder{
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $darkshade25;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__note {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_info {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
    }
  }
  &-btn {
    &-white {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      background-color: #fff;
      color: #BC9CFF;
      border: 2px solid $purple;
      border-radius: 22px;
      padding: 9px 20px;
      cursor: pointer;
      transition: .07s;
    }
    &-landing {
      margin-bottom: 0;
    }
  }
}

.radiobutton {
  &-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    &_input {
      cursor: pointer;
    }
    &_label {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $darkshade50;
      cursor: pointer;
    }
  }
}

.date-of-birth{
  width: 100%;
  margin-bottom: 20px;
}

.toggle__info{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkshade75;
}

.inputs-wrapper{
  margin-bottom: 10px;
}

.card-room {
  width: 270px;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  border: none;
  padding: 0;
  &__slider {
    width: 100%;
    height: 151px;
    position: relative;
  }
  &__footer {
    width: 100%;
    height: 106px;
  }
}

.pagination {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
}

.dot {
  width: 7.5px;
  height: 7.5px;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 3.75px;
  &:last-child {
    margin-right: 0;
  }
  &_active {
    background-color: #fff;
  }
}

.slide {
  width: 100%;
  height: 151px;
  overflow: hidden;
}

.slide-1__img {
  width: 332px;
  height: 189px;
  // width: 100%;
  // height: 100%;
}

.card-calendar {
  width: 320px;
  padding: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #1f2041;
  }
  &__main {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      color: $purple;
      text-transform: uppercase;
    }
    &__numbers {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      color: rgba(31, 32, 65, 0.5);
      margin-bottom: 20px;
    }
    &__number {
      cursor: pointer;
      border-radius: 100%;
      &_current {
        color: #fff;
        font-weight: 700;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
      &_range {
        color: #fff;
        font-weight: 700;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        &-last {
          position: relative;
          z-index: 10;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 15px;
            width: 160px;
            height: 100%;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            opacity: 0.25;
            z-index: -1;
          }
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: $purple;
    background-color: #fff;
    border: none;
  }
}

.calendar__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-calendar__btn {
  background: none;
  border: none;
}

.material-icons.card-calendar__arrow-prev {
  //не работает в строчном теге????
  color: #bc9cff;
  font-weight: 400;
  font-size: 24px;
  line-height: 85%;
  cursor: pointer;
  transform: rotate(-180deg);
  display: block;
}

.material-icons.card-calendar__arrow-next{
  color: #bc9cff;
  font-weight: 400;
  font-size: 24px;
  line-height: 85%;
  cursor: pointer;
  display: block;
}