include ../buttons/button-gradient-arrow.pug
include ../mixins.pug

//- перенести в папку с landing??
mixin card-landing 
  form(action="#")
    .card 
      .card-inner  
        h1.card__title Найдём номера под ваши пожелания
        .date-dropdown-wrapper
          +date-dropdown('прибытие')
          +date-dropdown('выезд')
        +dropdown
        +dropdown('гости', 'Сколько гостей')
        +btn-gradient-arrow('', 'подобрать номер')

         
          