.header{
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #fff;
  box-shadow: 0px 10px 20px $darkshade5;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn{
    &-white{
      transition: .2s linear;
      &:hover{
        border-color: rgba(188, 156, 255, .5);
      }
    }
    &-border{
      transition: .2s linear;
      &:hover{
        opacity: 0.5;
      }
    }
  }
}

.header-inner .header__box_right{
  display: flex;
  align-items: center;
}

.class{
  display: none;
}

// header-2
.user{
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  padding-left: 20px;
  &__name{
    font-size: 14px;
    line-height: 17px;
    color: $darkshade50;
  }
}
