.header{
  padding-top: 15px;
  padding-bottom: 11px;
  background-color: #fff;
  box-shadow: 0px 10px 20px $darkshade5;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__box_right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 772px;
      padding-left: 1px;
    }
  }
  &__btn{
    &-white{
      transition: .2s linear;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      &:hover{
        border-color: rgba(188, 156, 255, .5);
      }
    }
    &-border{
      transition: .2s linear;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  &__buttons {
    &-wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
    }
  }
}

.class{
  display: none;
}


