.footer {
  &__box {
    &__item{
      max-width: 260px;
      &-info{
        font-size: 14px;
        line-height: 24px;
        color: $darkshade75;
        margin-bottom: 20px;
      }
    } 
  }
}