// для демонстрации на странице form-elements
.card{
  &__input{
    &-hover{
      background: #FFFFFF;
      border: 1px solid $darkshade50;
      &::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $darkshade75;
      }
    }
  }
}
  