.rd {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 485px;
    &__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      &__image {
        width: 100%;
        height: 50%;
      }
      &_1 {
        width: 63.7%;
        background-image: url(@images/pages/room-details/bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      &_2 {
        width: 36.3%;
      }
    }
  }

  &__img {
    &_2 {
      background-image: url(@images/pages/room-details/bg-2.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &_3 {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(@images/pages/room-details/bg-3.png);
    }
  }
}
