.main.main-landing{
  display: block;
  padding: 70px 0;
}

.card-landing {
  & > .card-inner {
    & > .card__title {
      padding-left: 0.5px;
    }
  }
}

.card-btn-landing {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  // leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  height: 44px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 17px;
  padding-right: 20px;
  // padding: 14.5px 20px;
}
