.main-landing{
  display: block;
  padding: 70px 0;
}

.air-datepicker{
  padding: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.air-datepicker-body--day-name{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $purple;
  text-transform: none;
}

.air-datepicker-nav--title{
  font-weight: 700;
}

.air-datepicker--pointer{
  display: none;
}

.air-datepicker-button{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}

.air-datepicker-nav {
  border-bottom: none;
  margin-bottom: 30px;
}

.air-datepicker--content {
    padding: 0; 
}

.air-datepicker-cell{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $darkshade50;
}

.air-datepicker-cell.-day-:hover{
  border-radius: 100%;
}

.air-datepicker-cell.-day-.-current-{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.-selected-.-range-to-,
.-selected-.-range-from-,
.-selected-.-range-to-:hover,
.-selected-.-range-from-:hover{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  position: relative;
}

.air-datepicker-cell.-day-.-current-.-selected-.-range-to-,
.air-datepicker-cell.-day-.-current-.-selected-.-range-from-{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.-selected-.-range-to-::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.32;
  z-index: -1;
}

.-selected-.-range-from-::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.32;
  z-index: -100;
}

.air-datepicker-cell.-day-.-in-range-{
  //сделал фон картинкой из-за того, при добавлении градиента видно границы
  //  background-image: url('./../images/bg.png');
   background-repeat: no-repeat;
  // background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);

  &:hover{
    border-radius: 0%;
  }
}

.air-datepicker--buttons, .air-datepicker--time{
  border: none;
}

.air-datepicker-global-container{
  width: 100%;
}