include header/header.pug
include footer/footer.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Вход
    link(rel="stylesheet", href="sign-in.scss")
  body

    +header 
    main.main.main-sign-in
    //-   +card-sign-in
    +footer    
    
    script(src='sign-in.js')