@use "@vars/variables.scss" as *;


.fe {
  &__subscription-text-field {
    width: 267px;
    & > .subscription-text-field__header {
      padding-left: 1px;
      margin-bottom: 6px;
    }
  }
  &__filter-date-dropdown {
    &__material-icons-expand {
      position: absolute;
      right: 8px;
      top: 11px;
    }
    & > .input-wrapper {
      position: relative;
    }
  }
}

.fe__text-field-hover {
  & > .input-hover {
    border: 1px solid $darkshade50;
    &::placeholder {
      color:  $darkshade75;
      letter-spacing: -0.2px;
    }
  }
}
