mixin menu
  nav.menu__navigation&attributes(attributes)
    ul.menu-list 
      li.menu-list__item 
        a.menu-list__link(href="#") О нас
      li.menu-list__item 
        a.menu-list__link.menu-list__link-drop(href="#") 
          span.drop-link  Услуги
          span.material-icons.material-icons-expand.material-icons-expand-menu expand_more
      li.menu-list__item 
        a.menu-list__link(href="#") Вакансии
      li.menu-list__item 
        a.menu-list__link(href="#") Новости
      li.menu-list__item 
        a.menu-list__link.menu-list__link-drop(href="#")
          span.drop-link Соглашения
          span.material-icons.material-icons-expand.material-icons-expand-menu expand_more