@use "@vars/variables.scss" as *;

.main.main-landing {
  display: block;
  padding: 70px 0;
  height: 830px;
  background-image: url("@images/pages/landing/landing-bg.png");
  @media (max-width: 525px) {
    height: auto;
    padding: 150px 0;
  }
}

.card-landing {
  & > .card-inner {
    & > .card__title {
      padding-left: 0.5px;
      @media (max-width: 575px) {
        font-size: 22px;
      }
      @media (max-width: 430px) {
        font-size: 20px;
        text-align: center;
      }
    }
  }
  &__dropdown {
    letter-spacing: -1%;
    &-material-icons-expand {
      position: absolute;
      top: 10px;
      right: 8px;
    }
    &::placeholder {
      font-size: 17px;
      letter-spacing: -1%;
    }
  }
}

.card-btn-landing {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  height: 44px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 17px;
  padding-right: 20px;
  @media (max-width: 430px) {
    width: 100%;
    padding: 10px;
    height: 35px;
  }
}

main.main.main-landing {
  & > .container {
    position: relative;
    height: 100%;
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 430px) {
      width: 100%;
      padding: 0 30px;
    }
    @media (max-width: 375px) {
      padding: 0 15px;
    }
    & > form {
      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }
}

.main-info {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  display: block;
  width: 297px;
  position: absolute;
  right: -6px;
  bottom: -49px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
  @media (max-width: 1230px) {
    right: 50px;
  }
  @media (max-width: 991px) {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -50px;
    text-align: center;
  }
  @media (max-width: 525px) {
    bottom: -115px;
  }
}


#card-landing__dropdown{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 9px;
  padding-bottom: 13px;
  padding-left: 14.5px;
  height: 44px;
  cursor: pointer;
  letter-spacing: -0.05px;
  &.input-click-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: $darkshade75;
  }
}