include mixin-buttons.pug
include mixins.pug

mixin card-sign-in
  form(action="") 
    .card
      .card-inner
        h1.card__title Войти
        .inputs-wrapper 
          +text-field-default('', '', 'Email')
          +text-field-default('', '', 'Пароль')
        +btn-gradient-arrow('button-default-big', 'Войти')
        .card__note 
          span.card__note_info Нет аккаунта на Toxin?
          +button-white('card-btn-white', 'Создать')

mixin card-sign-up 
  form(action="") 
    .card
      .card-inner 
        h1.card__title Регистрация аккаунта
        .inputs-wrapper 
          +text-field-default('', '', 'Имя')
          +text-field-default('', '', 'Фамилия')
        +radiobuttons('')
        +masked-text-field('дата рождения')
        +text-field-default('данные для входа в сервис', '', 'Email')
        +text-field-default('', '', 'Пароль')
        +toggle('Получать спецпредложения')
        +btn-gradient-arrow('', 'перейти к оплате')
        .card__note 
          span.card__note_info Уже есть аккаунт на Toxin?
          +button-white('card-btn-white', 'войти')

mixin landing-card 
  form(action="")
    .card 
      .card-inner  
        h1.card__title Найдём номера под ваши пожелания
        +btn-gradient-arrow('', 'подобрать номер')
        input.calendar(type="text")
          