.card-calendar {
  width: 320px;
  position: relative;
  padding: 19px 20px 35px 23px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #1f2041;
    margin-left: -1.5px;
    margin-bottom: 30px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    text-align: center;
    &-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      color: $purple;
    }
    &__numbers {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      color: rgba(31, 32, 65, 0.5);
      margin-bottom: 20px;
    }
    &-number {
      cursor: pointer;
      border-radius: 100%;
      &_current {
        color: #fff;
        font-weight: 700;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
      &_range {
        color: #fff;
        font-weight: 700;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        &-last {
          position: relative;
          z-index: 10;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 15px;
            width: 160px;
            height: 100%;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            opacity: 0.25;
            z-index: -1;
          }
        }
      }
      &_unactual {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: $darkshade25;
      }
    }
  }
  &__btn {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: $purple;
    background-color: #fff;
    border: none;
    &__reset {
      position: absolute;
      bottom: 19px;
      left: 19.5px;
    }
    &__confirm {
      position: absolute;
      bottom: 19px;
      right: 18.5px;
    }
  }
}

.calendar__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
