@import "lib.scss";

.range-slider {
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__state {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f204180;
    // color: $darkshade25;
  }
}

#range-slider {
  height: 6px;
  background: #ffffff;
  border: 1px solid $darkshade25;
  border-radius: 3px;
  margin-bottom: 10.56px;
}
