.footer {
  &__copy{
    padding: 23px 0;
    &-inner{
      display: flex;
      justify-content: space-between;
    }
    &__text{
      font-size: 14px;
      line-height: 17px;
      color: $darkshade75;
    }
    &__link{
      display: block;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}