mixin __copy
  .footer__copy
    .container
      .footer__copy-inner 
        .footer__copy__item 
          span.footer__copy__text Copyright © 2018 Toxin отель. Все права защищены.
        .footer__copy__social 
          a.footer__copy__link(href="#") 
            img(src=require("@images/icons/twitter.svg"), alt="twitter").twitter
          a.footer__copy__link(href="#") 
            img(src=require("@images/icons/fb.svg"), alt="facebook").facebook
          a.footer__copy__link(href="#")
            img(src=require("@images/icons/inst.svg"), alt="inst").instagram