mixin date-dropdown(title)
  .date-dropdown.elements__item.elements__item-box
    .elements__item_header
      h3.h3=title 
    .card__input-wrapper
      input.card__input-date-dropdown(placeholder="ДД.ММ.ГГГГ")
      span.material-icons.material-icons-expand expand_more