@import './../__list/_list';
@import './__item/_item';

.footer {
  &__box {
    border-bottom: 1px solid #e5e5e5;
    padding: 100px 0;
  }
  &__input {
    &__button {
      padding-right: 9px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}