include ../__list/__list.pug
include ../__info/__info.pug
include __item/__item.pug


mixin __box
  .footer__box 
    .container 
      .footer-inner
        +__info
        +__item('навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги')
        +__item('о нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы')
        +__item('Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами')
        .footer__box__item 
          h3.footer__title Подписка
          .footer__box__item-info Получайте специальные предложения и новости сервиса
          .footer__input-wrapper 
            input.footer__box__item-input(type="text" placeholder="Email")
            button.footer__button-input 
              span.material-icons.material-icons-arrow-blue arrow_forward