.menu__navigation {
  margin-bottom: 5px;
  margin-left: 1px;
}

.list {
  display: flex;
  align-items: center; //29.10, поправка после замены картинок на иконочный шрифт
  &__item {
    margin-right: 19px;
    // height: 19px;
    //29.10 - из-за того, что 2 ссылки в меню располагаются неровно по отношению к остальным. 
    //После того как вставил иконочный шрифт 
    &:first-child {
      &>.list__link {
        letter-spacing: 0.5px;
      }
    }
    &:nth-child(2) {
      margin-right: 20px;
    }
    &:nth-child(3) {
      margin-right: 20.5px;
    }
    &:nth-child(4) {
      margin-right: 19.3px;
    }
    &:nth-child(5) {
      & > .list__link.list__link_drop {
        & > .material-icons.material-icons-expand.material-icons-expand-menu {
          right: -0.5px;
        }
      }
    }
  }
  &__link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $darkshade50;
    display: inline-block;
    transition: .2s linear;
    
    &:hover{
      text-shadow:
        1.2px 0 0 rgba(0, 0, 0, 0.4),
        0 0 0 rgba(0, 0, 0, 0.4),
        0 1.2px 0 rgba(0, 0, 0, 0.4),
        0 0 0 rgba(0, 0, 0, 0.4);
      // text-shadow: 0 0 1px #333, 0 0 .65px #333;
    }
  }
  &__link {
    &_drop {
      line-height: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-right: 24px;
      & > .material-icons.material-icons-expand.material-icons-expand-menu {
        position: absolute;
        right: 0;
        top: -5px;
      }
    }
  }
}

.drop-link{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: 0.5px;
}