//- написать на чистом js
mixin dropdown(title, inputText)
  .dropdown.elements__item 
    .elements__item_header
      h3.h3=title
    .card__input-wrapper(class=className) 
      .card__input-dropdown.card__input-dropdown-pre-default=inputText
      span.material-icons.material-icons-expand expand_more
