.dropdown{
  &-page {
    margin-bottom: 30.44px;
  }
  &__title {
    margin-bottom: 5px;
    padding-left: .5px;
  }
  &-expanded.elements__item ,
  &-default.elements__item {
    width: 266px;
  }
  &-expanded{
    &-guests{
      &__list{
      margin-bottom: 20px;
      }
    }
  }
  &-list{
    &__item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
      &_name{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $darkshade100;
      }
    }
    &__count{
      display: flex;
      align-items: center;
      &_minus,
      &_plus{
        width: 30px;
        height: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $darkshade50;
        cursor: pointer;
        border: 1px solid $darkshade25;
        border-radius: 22px;
        user-select: none;
      }
      &_number{
        font-weight: 700;
        width: 8px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $darkshade100;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }
  &-btns{
    display: flex;
    justify-content: flex-end;
    &-2{
      justify-content: space-between;
    }
  }
  &__submit,
  &__reset{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: right;
    margin-bottom: 13px;
  }
}

.card{
  &__input{
    &-dropdown{
      border: none;
      width: 276px;
      height: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $darkshade75;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    &-wrapper{
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid $darkshade25;
      box-sizing: border-box;
      border-radius: 4px;
      padding-top: 12px;
      padding-right: 9px;
      padding-bottom: 13px;
      padding-left: 14.5px;
      // padding: 12px 9px 13px 14.5px;
      height: 44px;
      cursor: pointer;
    }
  }
}

.unactive-element{
  cursor: auto;
  opacity: 0.38;
}


.filter-date-dropdown {
  width: 266px;
  &__title {
    margin-bottom: 5px;
  }
}

.date-dropdown {
  margin-bottom: 5px;
  &-item{
    &-box{
      width: 150px;  
    }
  }
  &__header {
    margin-bottom: 6px;
  }
}

.card__input-date-dropdown {
  width: 100%;
  height: 100%;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $darkshade75;
  cursor: pointer;
  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: $darkshade75;
  }
}

