.fe-inner-2 {
  margin-bottom: 52px;
  & > .column {
    width: 266px;
    margin-left: -1px;
  }
  & > .column-2 {
    width: 321px;
    margin-left: 108.5px;
  }
  & > .column-3 {
    width: 321px;
  }
}

.fe__dropdown {
  & > .input-wrapper {
    width: 266px;
  }
  & > .input-wrapper {
    width: 100%;
  }
}

.fe__item {
  & > .fe__dropdown {
    margin-bottom: 0;
  }
}
