.fe-inner-2 {
  margin-bottom: 52px;
  & > .column {
    width: 266px;
    margin-left: -1px;
  }
  & > .column-2 {
    width: 321px;
    margin-left: 108.5px;
  }
  & > .column-3 {
    width: 321px;
  }
}

.fe__dropdown {
  & > .input-wrapper {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.fe__item {
  & > .fe__dropdown {
    margin-bottom: 0;
  }
}

.fe__dropdown.dropdown-expanded-active {
  & > .date-dropdown__header {
	  // margin-bottom: 5px;
    margin-bottom: 6px;
  }
}

.fe-dropdown-list__count {
  margin-right: 2px;
}

.fe__dropdown_unactive.dropdown {
  margin-bottom: 22px;
}

#fe__dropdown_unactive {
  position: relative;
  & > span {
    position: absolute;
    top: 9px;
    right: 7px;
  }
}

