include ./blocks/__item.pug
include ./blocks/title-styles.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title colors-types(ct)
  body 
    .ct 
      .ct__logo
        include ./../../assets/images/ui-logo.svg
      .ct-inner 
        .ct__box_1 
          +__item('Dark Shade 100%', '#1F2041', 'ct__square_1')
          +__item('Dark Shade 75%', '#1F2041', 'ct__square_2')
          +__item('Dark Shade 50%', '#1F2041', 'ct__square_3')
          +__item('Dark Shade 25%', '#1F2041', 'ct__square_4')
          +__item('Dark Shade 5%', '#1F204', 'ct__square_5')
          +__item('Purple', '#BC9CFF', 'ct__square_6')
          +__item('Green', '#6FCF97', 'ct__square_7')
        .ct__box_2 
          +__title('H1', '', 'This one is the sub-section or widget title', 'h1')
          +__title('H2', 'title-number-2', 'Next one is the item title inside widgets', 'h2')
          +__title('H3', 'title-number-3', 'This is a label or CTA text', 'h3')
          +__title('Body', 'title-number-4', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', '')