.ct {
  padding: 145px 0;
  position: relative;
  display: flex;
  margin-bottom: 51px;
  &__logo {
    position: absolute;
    top: -114px;
    left: -119px;
  }
  &-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 19px;
  }
  &__box {
    &_2 {
      width: 436px;
    }
  }
  &__text {
    &__title {
      font-weight: 700;
      font-size: 19px;
      line-height: 28px;
      margin-bottom: 1px;
      color: $darkshade100;
    }
    &__info {
      font-size: 19px;
    }
  }
  &__color {
    margin-bottom: 20px;
    display: flex;
    // для pp
    // align-items: center;
    &__text {
      padding-top: 9px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__square {
      width: 70px;
      height: 70px;
      background-color: #000;
      border-radius: 6px;
      margin-right: 40px;
      &_1 {
        background-color: $darkshade100;
      }
      &_2 {
        background-color: $darkshade75;
      }
      &_3 {
        background-color: $darkshade50;
      }
      &_4 {
        background-color: $darkshade25;
      }
      &_5 {
        background-color: $darkshade5;
      }
      &_6 {
        background-color: $purple;
      }
      &_7 {
        background-color: $green;
      }
    }
  }
  &__title {
    display: flex;
    margin-bottom: 52px;
    &__number {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: $darkshade25;
      margin-right: 30px;
      &_2 {
        font-size: 19px;
        line-height: 23px;
        text-align: left;
        padding-left: 2px;
      }
      &_3 {
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        padding-left: 13px;
      }
      &_4 {
        font-size: 14px;
        line-height: 24px;
        margin-left: -8px;
        margin-top: -4px;
      }
      &-text {
        width: calc(100% - 37px);
      }
    }
    &__text {
      &_4 {
        margin-top: -4px;
        width: 301px;
        padding-top: -2px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
      }
    }
  }
}
