.ct{
  padding: 145px 0;
  position: relative;
  &__logo{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &-inner{
    max-width: 1132px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__box { 
    &_1 {
      width: 281px;
    }
    &_2 {
      width: 436px;
    }
  }
  &__item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__square{
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 6px;
    margin-right: 40px;
    &_1{
      background-color: $darkshade100;
    }
    &_2{
      background-color: $darkshade75;
    }
    &_3{
      background-color: $darkshade50;
    }
    &_4{
      background-color: $darkshade25;
    }
    &_5{
      background-color: $darkshade5;
    }
    &_6{
      background-color: $purple;
    }
    &_7{
      background-color: $green;
    }
  }
  &__text{
    &__title{
      font-weight: 700;
      font-size: 19px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: $darkshade100;
    }
  }
}

.ct {
  display: flex;
  margin-bottom: 51px;
  &__title {
    &-number {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: $darkshade25;
    margin-right: 30px;
    width: 37px;
    &-2 {
      font-size: 19px;
      line-height: 23px;
    }
    &-3 {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }
    &-4 {
      font-size: 14px;
      line-height: 24px;
    }
    &-text{
      width: calc(100% - 37px);    
    }
  }
}
}

  