@import './__color/__color.scss';
@import './__title/__title.scss';

.ct{
  padding: 145px 0;
  position: relative;
  &__logo{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__box { 
    &_1 {
      width: 281px;
    }
    &_2 {
      width: 436px;
    }
  }
  &__text{
    &__title{
      font-weight: 700;
      font-size: 19px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: $darkshade100;
    }
  }
}
  