include ./../../layout/header/header.pug
include ./../../layout/footer/footer.pug
include ./../../modules/cards/cards.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Регистрация аккаунта
  body
    +header 
    main.main.sign-up 
      +card-sign-up
    +footer