.inputs-wrapper{
  margin-bottom: 0;
}

.main.sign-up {
  height: 683px;
  & > form {
    @media(max-width: 450px) {
      width: 100%;
    }
    .card-sign-up {
      margin-left: 5px;
      @media(max-width: 450px) {
        margin-left: 0;
      }
    }
  }
  @media(max-width: 450px) {
    height: auto;
    padding: 50px 20px;
  }
}