.text-field-default{
  margin-bottom: 10px;
}
.inputs-wrapper,
.radiobuttons__header,
.radiobutton-wrapper{
  margin-bottom: 0;
}
.card{
  margin-bottom: 0;
}

.sign-up .radiobuttons,
.sign-up .masked-text-field,
.sign-up .toggle{
  margin-bottom: 20px;
}