@use "@vars/variables.scss" as *;

.card {
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px 0px #00000033;
  border-radius: 4px;
  padding: 40px 30px;
  &-inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1f2041;
    margin-bottom: 24px;
    &-2 {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $darkshade100;
      margin-bottom: 5px;
    }
  }
  &-btn {
    &-white {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      background-color: #fff;
      color: #bc9cff;
      border: 2px solid $purple;
      border-radius: 22px;
      padding: 9px 20px;
      cursor: pointer;
      transition: 0.07s;
    }
    &-landing {
      margin-bottom: 0;
    }
  }
}

.card-sign-up__title {
  margin-bottom: 21px;
  padding-left: 0.5px;
}

.date-of-birth {
  width: 100%;
  margin-bottom: 20px;
}

.toggle__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkshade75;
}

.inputs-wrapper {
  margin-bottom: 10px;
}

.slide {
  width: 100%;
  height: 151px;
  overflow: hidden;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.slide__img {
  width: 100%;
}

.material-icons.card-calendar__arrow-prev {
  //не работает в строчном теге????
  color: #bc9cff;
  font-weight: 400;
  font-size: 24px;
  line-height: 85%;
  cursor: pointer;
  position: absolute;
  left: 19px;
  top: 21px;
  transform: rotate(-180deg);
  display: block;
}

.material-icons.card-calendar__arrow-next {
  color: #bc9cff;
  font-weight: 400;
  font-size: 24px;
  line-height: 85%;
  position: absolute;
  right: 19px;
  top: 21px;
  cursor: pointer;
  display: block;
}

.card {
  &__note {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin-top: -1px;
      padding-left: 1px;
      @media (max-width: 375px) {
        font-size: 10px;
      }
    }
    & > .card-btn-white {
      // padding: 14px 24px;
      @media (max-width: 375px) {
        padding: 10px 24px;
      }
    }
  }
}

.card-landing {
  width: 380px;
  height: 374px;
  &__date-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    @media (max-width: 430px) {
      flex-direction: column;
    }
  }
}

.dropdown-page {
  position: relative;
  & > .fe__dropdown__content {
    position: absolute;
    left: 0;
    top: -15px;
    opacity: 0;
    background-color: #fff;
    z-index: -10;
    &_active {
      opacity: 1;
      z-index: 10;
      top: 65px;
    }
  }
}

.card-sign-in-form {
  height: 358px;
}

.inputs-wrapper.card-sign-in__inputs-wrapper {
  margin-bottom: 20px;
}

.inputs-wrapper.card-sign-up__inputs-wrapper {
  margin-bottom: 9px;
  & > .text-field-default {
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cards-dropdown + .dropdown-content {
  display: none;
}

.dropdown.card-landing__dropdown {
  margin-bottom: 0;
}

.cards-dropdown.dropdown {
  margin-bottom: 0;
} 

.card-sign-up {
  padding-top: 39px;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 29px;
  height: 100%;
  width: 100%;
  &-form {
    height: 646px;
    width: 380px;
  }
  @media (max-width: 450px) {
    padding: 20px;
    width: 100%;
    height: auto;
  }
  &__date-birthday {
    margin-bottom: 21.5px;
  }
  &__email {
    margin-bottom: 4px;
  }
  &__password {
    margin-bottom: 2px;
  }
  &__toggle {
    margin-bottom: 18px;
  }
  & > .card-inner {
    & > .card__title {
      @media (max-width: 376px) {
        font-size: 19px;
        margin-bottom: 10px;
      }
    }
    & > .radiobutton-wrapper {
      margin-bottom: 27px;
    }
    & > .button-default-big {
      margin-bottom: 30px;
      @media (max-width: 450px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

.arrow-next {
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  right: 18px;
  top: 50%;
  transform: translate(0, -50%) rotate(-90deg);
  cursor: pointer;
}

.arrow-prev {
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%) rotate(90deg);
  cursor: pointer;
}

.card.card-sign-in {
  height: 100%;
  padding-right: 29.5px;
  padding-left: 29.5px;
  padding-bottom: 28px;
  padding-top: 39px;
  &-form {
    height: 358px;
  }
  @media (max-width: 464px) {
    padding: 20px;
    width: 100%;
  }
  & > .card-inner {
    & > .card__title {
      margin-bottom: 21px;
      @media (max-width: 575px) {
        text-align: center;
      }
    }
    & > .card-sign-in__inputs-wrapper {
      & > .text-field-default {
        &:first-child {
          margin-bottom: 4px;
        }
      }
    }
    & > .card__note {
      margin-left: -1px;
      margin-right: -1px;
      & > .card-btn-white {
        @media (max-width: 575px) {
          padding: 10px 16.5px;
          margin-right: 0;
        }
      }
    }
    & > .button-default-big {
      margin-bottom: 30px;
    }
  }
}

.card-calculate {
  padding-bottom: 30px;
  padding-top: 41px;
  padding-left: 29px;
  padding-right: 29px;
  height: 512px;
  width: 380px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 22px;
  }
  &__room {
    &-icon {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $darkshade100;
      margin-right: 5px;
    }
    &-number {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: $darkshade100;
      margin-right: 8px;
      margin-top: -1px;
      display: inline-block;
    }
    &-class {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $purple;
    }
  }
  &__price {
    &-values {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
      margin-right: 4px;
    }
    &-duration {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
    }
  }
  &__result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    padding-left: 1px;
    &-item {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      color: $darkshade100;
      &:first-child {
        position: relative;
        &::after {
          position: absolute;
          left: calc(100% + 5px);
          bottom: 4px;
          content: "";
          width: 182px;
          height: 1px;
          background-image: url("@images/pages/cards/dots.png");
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 0;
        }
      }
    }
  }
  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $darkshade75;
    &:first-child {
      margin-bottom: 10px;
    }
    &:nth-child(2) {
      margin-bottom: 13px;
      & > span:first-child {
        &::after {
          height: 21px;
          top: -3px;
        }
      }
    }
    &:last-child {
      & > span:first-child {
        &::after {
          height: 21px;
          top: -1px;
        }
      }
      & > span:nth-child(2) {
        margin-top: -17px;
      }
    }
    & > span {
      &:first-child {
        width: 214px;
      }
    }
    &-info {
      position: relative;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0%;
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: -25px;
        top: -2px;
        background-image: url("@images/pages/cards/info.png");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
    &-wrapper {
      padding-left: 1px;
      margin-bottom: 20px;
    }
  }
  &__date-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17.56px;
  }
}

.card-calculate {
  & > .card-inner {
    & > .dropdown-expanded-guests__form {
      margin-bottom: 18px;
    }
  }
}

.card-calculate__dropdown + .dropdown-content {
  display: none;
}


.card-calendar {
  width: 320px;
  height: 369px;
  position: relative;
  padding: 19px 20px 35px 23px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #1f2041;
    margin-left: -1.5px;
    margin-bottom: 30px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    text-align: center;
    &-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      color: $purple;
    }
    &__numbers {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      color: rgba(31, 32, 65, 0.5);
      // margin-bottom: 20px;
    }
    &-number {
      cursor: pointer;
      border-radius: 100%;
      &_current {
        color: #fff;
        font-weight: 700;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }
      &_range {
        color: #fff;
        font-weight: 700;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        &-last {
          position: relative;
          z-index: 10;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 15px;
            width: 160px;
            height: 100%;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            opacity: 0.25;
            z-index: -1;
          }
        }
      }
      &_unactual {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: $darkshade25;
      }
    }
  }
  &__btn {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: $purple;
    background-color: #fff;
    border: none;
    &__reset {
      position: absolute;
      bottom: 19px;
      left: 19.5px;
    }
    &__confirm {
      position: absolute;
      bottom: 19px;
      right: 18.5px;
    }
  }
}

.calendar__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card.card-landing {
  padding-top: 39px;
  padding-right: 29px;
  padding-bottom: 29px;
  padding-left: 29px;
  @media (max-width: 575px) {
    padding: 20px;
  }
  @media (max-width: 430px) {
    width: 100%;
  }
}

.card-landing {
  &__dropdown-js {
    & + .dropdown-content {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 61px;
    }
    & + .dropdown-content_active {
      width: 100%;
      height: 158px;
      opacity: 1;
      background: #fff;
      z-index: 1000;
    }
  }
}

.card-room {
  width: 270px;
  box-shadow: 0 10px 20px 0 rgba(31, 32, 65, 0.05);
  border: none;
  padding: 0;
  &__title {
    display: flex;
    align-items: self-end;
    font-size: 19px;
    font-weight: 700;
    color: #1f2041;
    position: relative;
    &__icon {
      margin-bottom: 1px;
      font-size: 14px;
      margin-right: 4px;
    }
    &__number {
      margin-right: 2px;
    }
    &__text {
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      color: #bc9cff;
    }
    &-status {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #bc9cff;
      position: absolute;
      top: 8px;
      right: -47px;
    }
  }
  &__slider {
    width: 100%;
    height: 151px;
    position: relative;
    & > .arrow-prev.material-icons {
      width: 44px;
      height: 44px;
      line-height: 100%;
      left: -10px;
      display: none;
    }
    & > .arrow-next.material-icons {
      width: 44px;
      height: 44px;
      right: -10px;
      line-height: 100%;
      display: none;
    }
  }
  &__content {
    width: 100%;
    height: 106px;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 18px;
    &__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    }
    &__footer {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__price,
  &__reviews {
    display: flex;
  }
  &__price {
    color: rgba(31, 32, 65, 0.5);
    padding-top: 6px;
    &__number {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0%;
      margin-right: 3px;
      margin-top: -2px;
    }
    &__text {
      font-weight: 400;
      font-size: 12px;
    }
  }
  &__reviews {
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
    line-height: 129%;
    padding-top: 2px;
    padding-right: 2px;
    &__number {
      font-weight: 700;
      margin-right: 5px;
    }
    &__text {
      font-weight: 400;
    }
  }
  &__pagination {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
  }
}

.card-room__title-status-cards {
  top: 7px;
  right: -40px;
}

.dot {
  width: 7.45px;
  height: 7.45px;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 3.7px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &_active {
    background-color: #fff;
  }
}

.card-room__slide {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 100%;
    background-image: url("@images/pages/cards/effect-slide.png");
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;
    display: none;
    background-image: url("@images/pages/cards/effect-slide.png");
    transform: rotate(-180deg);
  }
}

.card-room__slider:hover > .arrow-prev.material-icons,
.card-room__slider:hover > .arrow-next.material-icons,
.card-room__slider:hover > .card-room__slide::before,
.card-room__slider:hover > .card-room__slide::after {
  display: block;
}

.card-room__slider-cards > .arrow-prev.material-icons,
.card-room__slider-cards > .arrow-next.material-icons,
.card-room__slider-cards > .card-room__slide::before,
.card-room__slider-cards > .card-room__slide::after {
  display: block;
}

.calendar-input-wrapper {
  position: relative;
}

.card-calculate__dropdown-material-icons-expand {
  position: absolute;
  top: 10px;
  right: 8px;
}