@import './variables.scss';

.material-icons{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  &-star{
    line-height: 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
  }

  &-expand{
    line-height: 24px;
    background: $darkshade50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;

    &-reverse{
      transform: rotate(180deg);
    }
  }

  &-favorite{
    font-size: 10px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    // &-border{
    //   font-size: 10px;
    //   background: $darkshade25;
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    //   background-clip: text;
    // }
  }
}

.material-icons-arrow_forward{
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translate(0, -50%);
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.material-icons-pagination-link{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.material-icons.material-icons-favorite-border{
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 10px;
  background: $darkshade25;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}