//- include ./../../blocks/header/header.pug
//- include ./../../blocks/footer/footer.pug
//- include ./../../blocks/cards.pug
//- include ./../../blocks/likes/likes.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Room-details
    //- link(rel="stylesheet", href="./../default.scss")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //- link(rel="stylesheet", href="room-details.scss")
  body 

    //- +header 

    main.main.main-room-details 
      .content 
        .content__box.content__box-1 
          img.img-1(src="img/bg-1.jpg", alt="photo")
        .content__box.content__box-2 
          img.img-2(src="img/bg-3.png", alt="photo")
          img.img-3(src="img/bg-3.png", alt="photo")
      
      .info 
        .container
          .info-inner 
            .info__box.info__box-1 
              article.information
                h2.title.info-title Сведения о номере
                .information__item 
                  img.information__icon(src="img/icons/insert_emoticon.png", alt="icon")
                  .information__item-inner 
                    .information__title Комфорт
                    .information__text Шумопоглощающие стены
                .information__item 
                  img.information__icon(src="img/icons/location_city.png", alt="icon")
                  .information__item-inner
                    .information__title Удобство
                    .information__text Окно в каждой из спален
                .information__item 
                  img.information__icon(src="img/icons/whatshot.png", alt="icon")
                  .information__item-inner
                    .information__title Уют
                    .information__text Номер оснащён камином
              
              article.impression
                h2.title.info-title.impression__title Впечатления от номера
                .impression-inner 
                  .impression__diagram
                    .semicircle

                  .impression__descr
                    ul.impression__list
                      li.impression__list_item.impression__list_item-1 Великолепно
                      li.impression__list_item.impression__list_item-2 Хорошо
                      li.impression__list_item.impression__list_item-3 Удовлетворительно
                      li.impression__list_item.impression__list_item-4 Разочарован

              article.reviews
                h2.title.info-title.reviews__title 
                  span Отзывы посетителей номера
                  span.reviews__title-info 2 отзыва
                .review 
                  .review__name Мурад Сарафанов
                  .review__date 5 дней назад
                  .review__avatar 
                    img.review__avatar_image(src="img/avatar-1.png", alt="avatar")
                  .review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шум
              
              article.regulations
                h2.title.info-title.regulations__title Правила
                ul.regulations__list 
                  li.regulations__list_item Нельзя с питомцами
                  li.regulations__list_item Без вечеринок и мероприятий
                  li.regulations__list_item Время прибытия — после 13:00, а выезд до 12:00

              article.cancellation 
                h2.title.info-title.cancellation__title Отмена
                .cancellation__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            
            .info__box.info__box-2  
              //- +card-sign-in
              
            span.material-icons star

    //- +footer    

  //- script(src='room-details.js')
  script(src='./../../scripts/app.js')