include ../layout/header.pug
include ../layout/footer.pug
include ../modules/cards.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Регистрация аккаунта
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="/../../styles/commons.scss")
  body

    +header 
    main.main.main-sign-up 
      +card-sign-up
    +footer
    
    script(src='/../../scripts/app.js')