mixin subscription-text-field(title, placeholder)
  .subscription-text-field.elements__item 
    .elements__item_header
      h3.h3=title
    .footer__input-wrapper 
      input.footer__input(type="text" placeholder=placeholder)
      button.footer__input__button 
        span.material-icons.material-icons-arrow-blue arrow_forward
