@font-face {
    font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Regular.eot');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.eot');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
        url('./../../../assets/fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.menu-list{
  display: flex;
}
.menu-list__item{
  margin-right: 20px;
}
.menu-list__link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
.menu-list__link:hover{
  text-shadow: 0 0 1px #333, 0 0 .65px #333;
}
.drop-link{
  margin-right: 7px;
}
.drop-link:hover #arrow{
  fill-opacity: 0.8;
}
