mixin menu 
  nav.menu__navigation
    ul.menu-list 
      li.menu-list__item 
        a.menu-list__link(href="#") О нас
      li.menu-list__item 
        a.menu-list__link(href="#") Услуги
      li.menu-list__item 
        a.menu-list__link(href="#") Вакансии
      li.menu-list__item 
        a.menu-list__link(href="#") Новости
      li.menu-list__item 
        a.menu-list__link(href="#") Соглашения