.headers {
  &-footers {
    background: #f4f4f6;
    padding: 140px 0;
    &__container {
      position: relative;
    }
    &__logo {
      position: absolute;
      top: -110px;
      left: -110px;
    }
    &__box {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      & > .footer {
      border-top: none;
    }
    }
    &__input {
      width: 260px;
      & > .subscription-text-field__input-wrapper {
        & > .subscription-text-field__input {
          padding-top: 13px;
          padding-bottom: 14px;
          padding-left: 14px;
          padding-right: 16px;
          &::placeholder {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0%;
          }
        }
      }
    }
  }
}

.header__buttons {
  &-wrapper {
    gap: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
