@use "@vars/variables.scss" as *;

.toggle {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &-text {
      font-family: "Montserrat";
      font-style: normal;
      font-size: 14px;
      line-height: 24px;
      color: $darkshade75;
      @media (max-width: 375px) {
        font-size: 12px;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  margin-top: 1px;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0, -50%);
  transition: 0.4s;
  background: #ffffff;
  border: 1px solid $darkshade25;
  box-sizing: border-box;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  &::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background: $darkshade25;
    border-radius: 10px;
    transition: 0.3s;
  }
  .round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  border: 1px solid $purple;
}

input:checked + .slider:before {
  transform: translateX(18px);
  background: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
  left: 5px;
}
