.toggle-wrapper{
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

//??????
.slider {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0, -50%);
  -webkit-transition: .4s;
  transition: .4s;
  background: #FFFFFF;
  border: 1px solid $darkshade25;
  box-sizing: border-box;
  border-radius: 10px;
  width: 40px;
  height: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background: $darkshade25;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .3s;
}

input:checked + .slider {
  border: 1px solid  $purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle{
  &__header{
    margin-bottom: 16px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}