.search {
  padding: 30px 0 70px 0;
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &__sidebar {
    width: 266px;
    margin-right: 60px;
  }
  &__range {
    &__info {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $darkshade50;
    }
  }
  &__content {
    width: calc(100% - 266px);
    &__rooms {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 20.5px;
      margin-bottom: 40.5px;
    }
    &__pagination {
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    width: 100%;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $darkshade100;
    margin-bottom: 21px;
  }
  &__filter-date-dropdown {
    margin-bottom: 20.44px;
  }
  &__dropdown {
    margin-bottom: 30px;
  }
}