.search {
  padding: 30px 0 70px 0;
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &__sidebar {
    width: 266px;
    margin-right: 60px;
    padding-top: 2px;
    .dropdown-expanded-guests__form {
      margin-bottom: 30px;
    }
  }
  &__range {
    margin-bottom: 30px;
    & > .range-slider__wrapper {
      & > .range-slider__header {
        margin-bottom: 23px;
      }
    }
    &__info {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $darkshade50;
    }
  }
  &__content {
    width: calc(100% - 266px);
    &__rooms {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 12px;
      grid-row-gap: 20.5px;
      margin-bottom: 40.5px;
    }
    &__pagination {
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    width: 100%;
    text-align: left;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $darkshade100;
    margin-bottom: 21px;
  }
  &__filter-date-dropdown {
    margin-bottom: 23px;
    .filter-date-dropdown__title {
      margin-bottom: 6px;
    }
  }
  &__dropdown {
    margin-bottom: 30px;
    &-convenience {
      &__content {
        display: none;
      }
    }
  }
  &__checkbox {
    margin-bottom: 32.88px;
    &-list {
      opacity: 0;
      height: 0;
      &-item {
        margin-bottom: 7px;
        &:nth-child(2) {
          margin-bottom: 6px;
        }
      }
      &_active {
        transition: all 0.3s;
        opacity: 1;
        height: auto;
      }
    }
    &__title {
      margin-bottom: 17.56px;
    }
  }
  &__rich-checkbox {
    margin-bottom: 32.44px;

    &__title {
      margin-bottom: 17px;
    }
  }
}

.search__rich-checkbox__list__item {
  margin-bottom: 9px;
  &:nth-child(2) {
    & > .checkbox__list-label-rich-info {
      width: 256px;
    }
  }
}

.search__dropdown-convenience {
  margin-bottom: 25.44px;
}

.search__dropdown-convenience__content.fe__dropdown-content_active {
  display: block;
  position: absolute;
  left: 0;
  top: 61px;
  z-index: 11;
  background: #fff;
}
