.elements__item_header.buttons__header{
  margin-bottom: 16px;
}

.button{
  font-family: 'Montserrat';
  padding: 10px 20px;
  border-radius: 22px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  &-default{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
    border: transparent;
    &-hover{
      opacity: 0.5;
    }
    &-wrapper{
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      width: 233px;
    }
    &-big{
      padding: 15px 20px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #FFFFFF;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      border: none;
      cursor: pointer;
      width: 100%;
      position: relative;
      margin-bottom: 40px;
    }
  }
  &-border{
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    background-color: #fff;
    // padding: 8px 19px;
    padding: 9px 18.5px;
    &-hover{
      border-color: rgba(188, 156, 255, .5);
      &-wrapper{
        margin-bottom: 30px;
      }
    }
  }
}

//form-elements
.form-element-btn{
  margin-right: 20px;
  &:last-child{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    margin-right: 0;
    padding-left: 19px;
    padding-right: 20px;
  }
}

.icon{
  &-link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    display: inline-block;
    margin-right: 20px;
    &-hover{
      color: $darkshade50;
    }
    &-wrapper{
      margin-bottom: 30px;
    }
  }
}

.btn-white:hover,
.btn-gradient:hover,
.btn-gradient-arrow:hover{
  opacity: 0.5;
}

.btn-white:active,
.btn-gradient:active,
.btn-gradient-arrow:active{
  color: $darkshade50;
}

//btn-white
.btn{
  &-white {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #fff;
    color: $purple;
    border: 2px solid $purple;
    border-radius: 22px;
    padding: 9px 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: .07s;
  }
}

//btn-rate
.rate-button__header{
  margin-bottom: 16px;
}

.stars-ratings{
  display: flex;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
  &-wrapper{
    display: flex;
  }
}

// btn-like
.like{
  background: #FFFFFF;
  border: 1px solid $darkshade25;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 20px;
  width: 40px;
  cursor: pointer;
  padding-left: 5px;
  &__icon{
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: $darkshade25;
  }
  &-button{
    &-inner{
      display: flex;
    }
    &__item{
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid $darkshade25;
      border-radius: 10px;
      width: 40px;
      height: 20px;
      padding-left: 4px;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      &-favorite{
        border: 1px solid $purple;
      }
      &_text{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: $darkshade25;
      }
    }
  }
}

//btn-gradient-arrow
.btn {
  &-gradient {
    &-arrow {
      background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
      border-radius: 22px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      padding: 9px 20px;
      cursor: pointer;
      transition: .3s;
      height: 44px;
    }
  }
}

//btn-gradient
.btn {
  &-gradient {
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    border-radius: 22px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 9px 20px;
    cursor: pointer;
    transition: .3s;
    height: 44px;
  }
}