mixin menu
  nav.menu__navigation&attributes(attributes)
    ul.list 
      li.list__item 
        a.list__link(href="#") О нас
      li.list__item 
        a.list__link.list__link-drop(href="#") 
          span.drop-link  Услуги
          span.material-icons.material-icons-expand.material-icons-expand-menu expand_more
      li.list__item 
        a.list__link(href="#") Вакансии
      li.list__item 
        a.list__link(href="#") Новости
      li.list__item 
        a.list__link.list__link-drop(href="#")
          span.drop-link Соглашения
          span.material-icons.material-icons-expand.material-icons-expand-menu expand_more