
mixin button-white(text) 
  button.btn-white= text 

mixin button-gradient(textGradient)
  button.btn-gradient= textGradient

mixin button-gradient-arrow(textGradBtn)
  button.btn-gradient-arrow= textGradBtn

//- mixin btn(class, txt)
//-   button(class!=attributes.class)= txt