include buttons.pug

mixin card-sign-in
  .container 
    .card
      .card-inner
        h1.card__title Войти
        input.card__input(type="text")
        input.card__input(type="text")
        +button-gradient-arrow('Войти')
        .card__note 
          span.card__note_info Нет аккаунта на Toxin?
          +button-white('Создать')
          