//- include ./../buttons.pug
include ../modules/menu-list.pug

mixin header  
  header.header 
    .container 
      .header-inner 
        .header__box
          a.logo-link(href="#") 
            img.logo(src="/../../images/logo.png", alt="logo")
        .header__box.header__box-right
          +menu
          //- +button-white('btn-white', 'Войти')
          //- +button-gradient('Зарегистрироваться')
        