@import './variables.scss';

.checkbox{
  width: 266px;
  cursor: pointer;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list{

    &_item{
      display: flex;
      align-items: center;
      margin-bottom: 10.56px;
    }

    &_input{
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &_input+label {
      display: inline-flex;
      align-items: center;
      flex-direction: inherit;//для правильного расположения RICH CHECKBOX BUTTONS
      user-select: none;
    }

    &_input+label::before{
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 4px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &_input:checked+label::before {
      content: '';
      border: 1px solid #BC9CFF;
      border-radius: 4px;
      background-image: url('./../../../../assets/images/check-mark.svg');
      background-repeat: no-repeat;
      background-size: 10px 8px;
    }

    &_label{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $darkshade50;
      cursor: pointer;

      &-rich{

        &-title{
          display: flex;
          flex-direction: column;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: $darkshade75;
        }

        &-info{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: $darkshade50;
          padding-left: 31px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &-buttons{
    margin-bottom: 40.88px;

    &__header{
      margin-bottom: 16.56px;
    }
  }
}
