#range-slider{
  height: 6px;
  background: #FFFFFF;
  border: 1px solid $darkshade25;
  border-radius: 3px;
}

.noUi-connect{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.noUi-handle {
  border: none;
  cursor: grab; 
  box-shadow: none;
}

.noUi-horizontal .noUi-handle{
  width: 14px;
  height: 14px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  right: -8px;
  top: -5px;
}

.noUi-handle::before,
.noUi-handle::after{
  display: none;
}