.menu{

  &-list{
    display: flex;

    &__item{
      margin-right: 20px;
    }

    &__link{
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $darkshade50;
      transition: .2s linear;

      &:hover{
        text-shadow: 0 0 1px #333, 0 0 .65px #333;
      }
    }
  }
}

.drop-link{
  margin-right: 7px;
}

.drop-link:hover #arrow{
  fill-opacity: 0.8;
}
