.footer {
  background-color: #fff;
  // box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  &-inner{
    display: flex;
  }
  &__logo{
    margin-bottom: 13px;
  }
  &__title{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkshade100;
  }
  &__list{
    &__item{
      margin-bottom: 19px;
    }
    &__link{
      font-size: 14px;
      line-height: 17px;
      color: $darkshade50;
      &:hover{
        color: $darkshade75;
      }
    }
  }
  &__box {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 100px;
    padding-bottom: 81px;
    &__item { 
      max-width: 316px;
      margin-top: 4px;
      &_1 {
        margin-right: 58px;
      }
      &_2 {
        margin-right: 93px;
      }
      &_4 {
        margin-right: 0;
        margin-left: 52px;
        width: 259px;
        & > .footer__title {
          margin-bottom: 18px;
        }
      }
      &__info {
        font-size: 14px;
        line-height: 24px;
        color: $darkshade75;
        margin-bottom: 23px;
      }
    } 
  }
  &__info{
    max-width: 260px;
    margin-right: 47px;
    &__block{
      font-size: 14px;
      line-height: 24px;
      color: $darkshade75;
    }
  }
  &__copy {
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 20px 0px #1F20410D;
    &-inner {
      display: flex;
      justify-content: space-between;
    }
    &__social {
      display: flex;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
      color: $darkshade75;
    }
    &__link {
      display: block;
      &:last-child {
        margin-right: 1px;
        margin-left: 22px;
        margin-top: -1px;
      }
      &:nth-child(2) {
        margin-left: 21px;
        margin-top: -1px;
      }
    }
  }
  &-mobile{
    max-width: 768px;
    margin: 0 auto;
    padding: 120px 0;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    &-inner{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__copy{
      &__item{
        margin-bottom: 25px;
      }
    }
  }
}