@import './__box/_box';
@import './__copy/_copy';
@import './__info/_info';

.footer{
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkshade100;
  }
  &__input{
    height: 100%;
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    &::placeholder{
      font-size: 14px;
      line-height: 24px;
      color: $darkshade25;
    }   
    &-wrapper{
      background: #FFFFFF;
      border: 1px solid $darkshade25;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;
      display: flex;
    } 
  }
}