.header{
  padding: 15px 0;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner  .header__box-right{
  display: flex;
  align-items: center;
}
.class{
  display: none;
}