include ./../buttons.pug
include menu/menu-list.pug

mixin header  
  header.header 
    .container 
      .header-inner 
        .header__box
          a.logo-link(href="#") 
            img.logo(src="./../assets/images/logo.png", alt="logo")
        .header__box.header__box-left
          +menu
          +button-white('Войти')
          +button-gradient('Зарегистрироваться')
        