.header{
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-inner  .header__box-right{
  display: flex;
  align-items: center;
}

.class{
  display: none;
}