include ../../modules/cards/card-sign-in.pug
include ../../modules/cards/card-sign-up.pug
include ../../modules/cards/card-landing.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title cards
  body 
    .ui-cards 
      .ui-cards__logo
        img(src=require("@images/ui-logo.svg"), alt="ui-logo")
      .ui-cards-inner 
        .col.col_1
          .ui-card
            +card-landing
          .ui-card
            +card-sign-up
        .col.col_2 
          +card-sign-in
        .col.col_3