mixin footer-mobile
  footer.footer-mobile 
    .container
      .footer-mobile-inner
        .footer__logo 
          a(href="#") 
            img.logo(src=require('@images/logo.png') alt="logo")
        .footer__copy__item.footer-mobile__copy__item 
          span.footer__copy__text Copyright © 2018 Toxin отель. Все права защищены.
        .footer__copy__social 
          a.footer__copy__link(href="#") 
            .twitter
              img(src=require("@images/icons/twitter.svg"), alt="twitter")
          a.footer__copy__link(href="#") 
            .facebook
              img(src=require("@images/icons/fb.svg"), alt="fb")
          a.footer__copy__link(href="#") 
            .instagram
              img(src=require("@images/icons/inst.svg"), alt="inst")        