mixin footer-mobile
  footer.footer-mobile 
    .container
      .footer-mobile-inner
        .footer__logo 
          a(href="#") 
            img.logo(src=require('./../../assets/images/logo.png') alt="logo")
        .footer__copy_item.footer-mobile__copy_item 
          span.footer__copy-text Copyright © 2018 Toxin отель. Все права защищены.
        .footer__copy_item.social-wrapper 
          a.footer__copy_link-social(href="#") 
            .twitter
              include ./../assets/images/icons/twitter.svg
          a.footer__copy_link-social(href="#") 
            .facebook
              include ./../assets/images/icons/fb.svg
          a.footer__copy_link-social(href="#") 
            .instagram
              include ./../assets/images/icons/inst.svg
        